body{
    margin:0;
    padding:0;
    transition: background-color 0.3s ease;
    background-color:black;
}
*{
    
    transition:0.3s;
}

*{
    font-family:sans-serif;

}

.show{
    text-align: center;
}
#result{
    height:200px;
    border: 1px solid grey;
    border-radius:5px;
    width:50%;
    margin-left:25%;
    margin-top:50px;
    transition: background-color 0.3s ease;
}
.btn{
    margin-top:50px;
}
#quoteResult{
    margin-top:40px;
}
